@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    List<Tuote> katsotuimmat = ViewBag.KatsotuimmatTuotteet;
}

<div id="sivun-yläosa">
    <div id="main-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            @for (int i = 0; i < katsotuimmat.Count; i++)
            {
                if (i == 0)
                {
                    <div class="carousel-item active">
                        <a href="/home/tietoja/@katsotuimmat[i].TuoteId">
                            <img class="d-block w-100" src=@(katsotuimmat[i].Tyyppi.ToString()) alt=@("tuote-" + katsotuimmat[i].TuoteId)>
                        </a>
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        <a href="/home/tietoja/@katsotuimmat[i].TuoteId">
                            <img class="d-block w-100" src=@(katsotuimmat[i].Tyyppi.ToString()) alt=@("tuote-" + katsotuimmat[i].TuoteId)>
                        </a>
                    </div>
                }
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div id="sivun-alaosa">
    <h2>Työn alla!</h2>
    <img id="under-construction-img" src="https://jooinn.com/images/under-construction-3.png" alt="under-construction" />
</div>
