@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    List<Tuote> katsotuimmat = ViewBag.KatsotuimmatTuotteet;
}

<div id="sivun-yläosa" style="display:flex;">
    <div id="main-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            @for (int i = 0; i < katsotuimmat.Count; i++)
            {
                if (i == 0)
                {
                    <div class="carousel-item active">
                        <a href="/home/tietoja/@katsotuimmat[i].TuoteId">
                            <img class="d-block w-100" src=@(katsotuimmat[i].Tyyppi.ToString()) alt=@("tuote-" + katsotuimmat[i].TuoteId)>
                        </a>
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        <a href="/home/tietoja/@katsotuimmat[i].TuoteId">
                            <img class="d-block w-100" src=@(katsotuimmat[i].Tyyppi.ToString()) alt=@("tuote-" + katsotuimmat[i].TuoteId)>
                        </a>
                    </div>
                }
            }
    </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div id="teksti-karusellin-vieressä">
        <p>Katso<br />klikatuimmat<br /> tuotteet!</p>
    </div>
</div>
<div id="sivun-alaosa">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://www.ipsos.com/sites/default/files/ct/news_and_polls/2021-05/friends-watching-tv-eating-popcorn.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Viihde</h5>
            <p class="card-text">Täältä löytyy kuumimmat välineet viihteestä nauttimiseen.</p>
            <a href="Tuotteet?kategoria=Viihde" class="btn btn-primary">Siirry kategoriaan...</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-937992556-1-1550698081.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Siivous</h5>
            <p class="card-text">Jos kotisi on törkyinen, saatat tarvita jotain täältä.</p>
            <a href="Tuotteet?kategoria=Siivous" class="btn btn-primary">Siirry kategoriaan...</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.vox-cdn.com/thumbor/M223kCurGxrvURmDnsw4f1I0l1U=/0x0:5500x3671/920x613/filters:focal(2310x1396:3190x2276):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/66563372/GettyImages_849177432.0.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Ruuanlaitto</h5>
            <p class="card-text">Avaimet hyvään ruuanlaittoon. Bon Appetit!</p>
            <a href="Tuotteet?kategoria=Ruuanlaitto" class="btn btn-primary">Siirry kategoriaan...</a>
        </div>
    </div>
</div>
