

<h1>Paina Heikkiä:)</h1>

<style>
    .kuva {
        text-align: left;
        max-height: 12em;
        max-width: 12em;
        width: auto;
        height: auto;
    }
</style>


<div>
    <p>
        <a onclick="" href="Ostoskori/1"><img class="kuva" src="https://pbs.twimg.com/profile_images/2619008914/n4tfo1625x7sm92ionj5_400x400.jpeg" alt="testi" /></a>
        <a onclick="Tarkista()" href=""><img class="kuva" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhxbRi0Kvd9ryHxgOi7QhT152CmDl_dPmKAw&usqp=CAU" alt="testi" /></a>
        <a onclick="Tarkista()" href=""><img class="kuva" src="https://live.staticflickr.com/7090/7242382128_e979d1c354_n.jpg" alt="testi" /></a>
        <a onclick="Tarkista()" href=""><img class="kuva" src="https://pbs.twimg.com/profile_images/1883352109/n686359190_1336013_908_400x400.jpg" alt="testi" /></a>
    </p>
</div>

<script>
    function Tarkista() {
        while (true) {
            alert('Häivy nettisivultani botti!');
        }
        return null;
    }
</script>