@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h5>Kiitos ostoksestasi!</h5>
<p>Lasku on lähetetty sähköpostiisi. Jos laskua ei kuulu, olethan yhteydessä <a href="https://fi-fi.facebook.com/aspasuomi">asiakaspalveluun</a>.</p>