
@{
    ViewData["Title"] = "Kirjautuminen";
}

<h1>Kirjautuminen</h1>
<p></p>
<form method="post" action="Kirjautuminen">
    <label for="etunimi"><b>Etunimi</b></label>
    <input type="text" name="etunimi"/>
    <label for="sukunimi"><b>Sukunimi</b></label>
    <input type="text" name="sukunimi"/>
    <label for="salasana"><b>Salasana</b></label>
    <input type="password" name="salasana"/><br />
    <p></p>
    <p></p>
    <input type="submit" name="kirjautuminen" value="Kirjaudu sisään"/>
</form>

