
@{
    ViewData["Title"] = "Kirjautuminen";
}

<h1>Kirjautuminen</h1>
<form method="post">
    <input type="text" name="nimi"/>
    <input type="password" nimi="salasana"/>
    <input type="submit" nimi="kirjautuminen" value="Kirjaudu sisään"/>
</form>

