
@{
    ViewData["Title"] = "Kirjautuminen";
}

<h1>Kirjautuminen</h1>
<form method="post" action="Kirjautuminen">
    <label for="etunimi">Etunimi</label>
    <input type="text" name="etunimi"/>'
    <label for="sukunimi">Sukunimi</label>
    <input type="text" name="sukunimi"/>'
    <label for="salasana">Salasana</label>
    <input type="password" name="salasana"/>
    <input type="submit" name="kirjautuminen" value="Kirjaudu sisään"/>
</form>

